/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* Basic Styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

section {
    margin-bottom: 20px;
}

.hero {
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #555;
    transform: scale(1.05) translateY(-3px);
}

.services ul {
    list-style-type: none;
    text-align: center;
}

.services ul li {
    margin-bottom: 10px;
}
.services a::before
{
    color: white;
    transition: 0.6s ease-in-out;
}
.services a:hover
{
    transform: scale(1.05) translateY(-5px);
    background-color: #555;
}
.services a
{
    /* border: 2px solid cyan; */
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 5px ;
    border-radius: 6px;
    border-bottom: none;
}
.services a::after
{
    color: white;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
